
# Unity
YuukaFlow.Unity/*
!YuukaFlow.Unity/Assets
YuukaFlow.Unity/Assets/*
!YuukaFlow.Unity/Assets/YuukaFlow
!YuukaFlow.Unity/Assets/YuukaFlow/**

.editorconfig
.[Pp]layground/
.[Ss]pecs/
.DS_Store

*/bin/
*/obj/
